* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #ffcc00;
    --secondary-color: #0f1729;
    --foreground-color: #d1d5db;
    --background-color: #f9f9f9;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--secondary-color);
}

#hero {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#hero-content {
    max-width: 600px;
}

#hero-content h1 {
    font-size: 4rem;
}

#hero-content p {
    font-size: 1.5rem;
    margin: 10px 0;
    color: var(--foreground-color);
}

span {
    color: var(--primary-color);
}

form {
    display: flex;
}

form input{
    flex: 1;
    padding: 16px;
    font-size: 1rem;
    border: 0;
    border-radius: 5px 0 0 5px;
}

form input:focus{
    border: none;
    outline: none;
}

form button {
    padding: 16px;
    font-size: 1rem;
    border: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
}

.card img {
    height: 300px;
}